input#audio-volume {
  width: 100%;
  padding: 2em 0;
}
span#vol-title {
  position: relative;
  bottom: -2em;
  font-size: 1rem;
  float: left;
}
tw-link#audio-mute {
  display: inline-block;
  padding: 0.3em;
  width: 90%;
  text-decoration: none;
  color: #111;
  background: #eee;
  user-select: none;
  border: 1px solid black;
}
tw-link#audio-mute:hover {
  opacity: 0.8;
}
tw-link#audio-mute:active {
  opacity: 0.6;
}
tw-link#audio-mute span {
  display: inline-block;
  width: 1em;
  position: relative;
  height: 1em;
  top: 0.2em;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAABF0lEQVR4Ae2VJVREYRSEB3ftuFUaLhF6I22iF7TgLr1XvAc849CwiBac9Xtm3e97cefp/Pec7+mdH0mZrGtMoBomyAEHfjGHXKg07gNxeUS3BuMAqGZswE7YcOIYgqgG7BFlSQgTAgKysC2jNjQmghFQCOpMxq+QmQgmFATU4kcq/YlgfKB1lALUqFSukRIbEwpy4BTZPM/Bu9TaQ362KAsl56sAtSR+Sgv6RCFdr/gjBYiuj65c3J0eNEmXz95TgybocvmoJj3avf5l59L1iD/WglZCP7/uh8zgeQ6epdahaZENFIPCCFvEYNPW4JdNazBGzhkj6caCbSc02DRRu0+8RR/+rb7wx6D505HxCVKvG0zpp+yknHe8MBDkT/s8AAAAAElFTkSuQmCC);
  background-size: contain;
}
tw-link#audio-mute.muted span {
  right: 4px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAASElEQVR4Ae3WsQ0AMAjAsJ7ez9MTGEmlRGL3BJzPq6prw2DDYMNgw2DDYMOwh1kAMUygQIEC2RejANVxnVE9aDOqJ39GVZWqB5Z3r1ndBX5oAAAAAElFTkSuQmCC);
}
div#audio-volume {
  float: left;
}
div#audio-controls {
  font: 100% Georgia, serif;
  font-size: 1.5em;
  position: fixed;
  width: 8em;
  height: 100%;
  padding: 1em 2em;
  z-index: 10000;
  top: 0;
  left: 0;
  bottom: 0;
  background: #333;
  color: #eee;
  transition: left 0.3s;
  text-align: center;
}
div#audio-controls.closed {
  left: -10.5em;
}
div#audio-controls tw-link#audio-panel-toggle {
  display: inline-block;
  width: 1.5em;
  position: absolute;
  height: 1.5em;
  top: 0;
  right: 0;
  user-select: none;
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAYklEQVR4Ae3MsQFAMAAEQMDEagCgN4EuVTrbPcACeUBugDNeSdMQomI0PmYdTEYD9DA5jcVoBKuxGY1kNQ6jGRSaGaIj8gw1aI/KYVUSNqsSzMpiVT2zMjlVN0fqVW5o2luMGHqkQmD9cPYAAAAASUVORK5CYII=);
  background-size: contain;
}
div#audio-controls.closed tw-link#audio-panel-toggle {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAZElEQVR4Ae3TpwGAMBQAUfrEeHB0cDhcXBSO7ehlgBw9N8BL/YZO95r6uA/UEbOv+ylfHRJ9z1BWLynKJqmWohyS6ijKOygKCpmjZYqXTTA2xUiCsShGAMw8/Q3ArFgFMHek0w3WCaR74eO2YQAAAABJRU5ErkJggg==);
}

@media screen and (max-width: 800px) {
  div#audio-controls.closed {
    left: -12em;
  }
  div#audio-controls.closed tw-link#audio-panel-toggle {
    right: -1.5em;
  }
}

/*  user story menu elements  */
div#story-menu {
  margin: 1em 0;
}

tw-link.story-menu {
  width: 100%;
  display: block;
  font-weight: normal;
  background: #ccc;
  font-size: 0.9em;
  padding: 0.1em 0;
  color: #111;
  border: 1px solid #333;
}

tw-link.story-menu.hide {
  display: none;
}

tw-link.story-menu:hover {
  opacity: 0.8;
}

tw-link.story-menu:active {
  opacity: 0.6;
}